body {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Metropolis', sans-serif;
    font-weight: bold;
    color: #ecf0f1;
}

img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

#clock {
    font-size: 4.5rem;
    letter-spacing: 0rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem 2rem;
    background: #ffffff4d;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    color: #ecf0f1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-left: 90px;
}

.colon {
    margin: -0.9rem;  
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

.search {
    display: flex;
    position: absolute; 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    padding: 1rem 15rem; 
    padding-bottom: 10%;
}

.search-container {
    position: relative;
    width: 300px; 
    height: 50px; 
    display: flex;
    align-items: center;
    background: #ffffff4d; 
    border-radius: 15px; 
    backdrop-filter: blur(10px); 
    color: #ecf0f1; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.search-container input[type="text"] {
    flex: 1; 
    padding: 0 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background: transparent;
}

.search-container input[type="text"]:focus {
    outline: none; 
}

.search-container button {
    width: 50px; 
    height: 50px;
    border: none;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    transition: background 0.3s ease;
}

.search-container button:hover {
    background: rgba(0, 0, 0, 0.1); 
}
